@import "tailwindcss";

@layer base {
  body {
    @apply bg-white text-gray-900;
  }
}

* {
  font-family: "Lato", sans-serif;
}




@layer components {
  .section-container {
    @apply max-w-6xl mx-auto px-4 sm:px-6 lg:px-8 py-12;
  }
  
  .btn-primary {
    @apply bg-primary hover:bg-purple-700 text-white font-semibold py-3 px-6 rounded-full transition-all duration-300 flex items-center gap-2 ;
  }

  .btn-primary2 {
    @apply bg-primary hover:bg-purple-700 text-white font-semibold py-3 px-6 rounded-full  duration-300  items-center gap-2 ;
  }
  
  .gradient-text {
    @apply bg-gradient-to-r from-purple-600 to-blue-600 bg-clip-text text-transparent;
  }
}

@layer utilities {
  @keyframes shake {
    0%, 100% {
      transform: translateX(0);
    }
    25% {
      transform: translateX(-3px);
    }
    75% {
      transform: translateX(3px);
    }
  }
  
  .animate-shake {
    animation: shake 0.5s ease-in-out infinite;
  }
}

@theme {
  --color-primary: #7C3AED;
  --color-secondary: #1F2937;
}
